:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Tik-Tok';
  src: url('assets/fonts/TikTokFont-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Tik-Tok';
  src: url('assets/fonts/TikTokFont-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Tik-Tok';
  src: url('assets/fonts/TikTokFont-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Tik-Tok Display';
  src: url('assets/fonts/TikTokDisplayFont-Regular.woff2') format('woff2');
  font-weight: 400;
  /* Ajustado para evitar duplicación */
}

@font-face {
  font-family: 'Tik-Tok Display';
  src: url('assets/fonts/TikTokDisplayFont-Bold.woff2') format('woff2');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Tik-Tok ', Arial, Tahoma, PingFangSC, sans-serif, "Segoe UI Emoji", "Noto Emoji";

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}